.Card {
    background-color: red;
    border-radius: 5%;
    overflow: hidden;
    border: 5% red;
    margin: 5%;
}

.Card .Title {
    padding: 2% 0%;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: white;
    color: green;
    padding: 5%;
}