.Card {
    background-color: red;
    border-radius: 5%;
    overflow: hidden;
    border: 5% red;
    margin: 5%;
    display: flex;
    flex-direction: column;
    min-width: 10%;
    max-width: 50%;
}

.Card .Title {
    padding: 2% 0%;
    display: flex;
    justify-content: center;
}

.Card .Content {
    flex-grow: 1;
    background-color: white;
    color: green;
    padding: 5%;
}